<!--<div *ngFor="let image of _albums; let i=index">
    <img [src]="image.thumb" (click)="open(i)"/>
  </div>-->

  <div class="container gallery-container">

    <!--<p class="page-description text-center">Clean Layout With Minimal Styles</p>-->
    
    <div class="tz-gallery">

        <div class="row">

            

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                    <a class="lightbox" href="../../assets/images/benches.jpg">
                        <img src="../../assets/images/benches.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>