<!--<div *ngFor="let image of _albums; let i=index">
    <img [src]="image.thumb" (click)="open(i)"/>
  </div>-->

  <div class="container gallery-container">

    <h1>Personal</h1>

    <!--<p class="page-description text-center">Clean Layout With Minimal Styles</p>-->
    
    <div class="tz-gallery">

        <div class="row">

            <div class="">
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/personal/01.jpg">
                        <img src="../../assets/personal/01.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="">
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/personal/02.jpg">
                        <img src="../../assets/personal/02.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="">
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/personal/03.jpg">
                        <img src="../../assets/personal/03.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="">
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/personal/04.jpg">
                        <img src="../../assets/personal/04.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="">
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/personal/05.jpg">
                        <img src="../../assets/personal/05.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="">
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/personal/06.jpg">
                        <img src="../../assets/personal/06.jpg" alt="">
                    </a>
                </div>
            </div>
          <div class="">
              <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                  <a class="lightbox" href="../../assets/personal/07.jpg">
                      <img src="../../assets/personal/07.jpg" alt="">
                  </a>
              </div>
          </div>
        </div>

    </div>

</div>