
<div class="container gallery-container">

    <!-- <p class="page-description text-center">concept arts</p> -->

    <h2 style="font-size: 25px; font-family: Roboto, sans-serif; padding-bottom: 20px; color:white; text-align: center; font-style:italic">The Bad Guys</h2>

     <div class="tz-gallery">
 
         <div class="row fix">
 
 <!--
             <div *ngFor="let art of getFilePath()" class="thumbnail">
                 <a class="lightbox" [href] = "art">
                     <img [src] = "art" alt="">
                 </a>
             </div>-->
 
                 <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                     <a class="lightbox" href="../../assets/TBG/1.jpg">
                         <img src="../../assets/TBG/1.jpg" alt="">
                     </a>
                 </div>
                 <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                     <a class="lightbox" href="../../assets/TBG/2.jpg">
                         <img src="../../assets/TBG/2.jpg" alt="">
                     </a>
                 </div>
             <div class="">
                 <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                     <a class="lightbox" href="../../assets/TBG/3.jpg">
                         <img src="../../assets/TBG/3.jpg" alt="">
                     </a>
                 </div>
             </div>
             <div class="">
                 <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                     <a class="lightbox" href="../../assets/TBG/4.jpg">
                         <img src="../../assets/TBG/4.jpg" alt="">
                     </a>
                 </div>
             </div>
             <div class="">
                 <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                     <a class="lightbox" href="../../assets/TBG/5.jpg">
                         <img src="../../assets/TBG/5.jpg" alt="">
                     </a>
                 </div>
             </div>
             <div class="">
                 <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                     <a class="lightbox" href="../../assets/TBG/6.jpg">
                         <img src="../../assets/TBG/6.jpg" alt="">
                     </a>
                 </div>
             </div>
             <div class="">
                 <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                     <a class="lightbox" href="../../assets/TBG/7.jpg">
                         <img src="../../assets/TBG/7.jpg" alt="">
                     </a>
                 </div>
             </div>
             <div class="">
               <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                   <a class="lightbox" href="../../assets/TBG/8.jpg">
                       <img src="../../assets/TBG/8.jpg" alt="">
                   </a>
               </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/9.jpg">
                     <img src="../../assets/TBG/9.jpg" alt="">
                 </a>
             </div>
         </div>
         <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/10.jpg">
                     <img src="../../assets/TBG/10.jpg" alt="">
                 </a>
             </div>
         </div>
         <div class="">
           <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
               <a class="lightbox" href="../../assets/TBG/11.jpg">
                   <img src="../../assets/TBG/11.jpg" alt="">
               </a>
           </div>
         </div>
         <div class="">
           <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
               <a class="lightbox" href="../../assets/TBG/12.jpg">
                   <img src="../../assets/TBG/12.jpg" alt="">
               </a>
           </div>
         </div>
         <div class="">
           <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
               <a class="lightbox" href="../../assets/TBG/13.jpg">
                   <img src="../../assets/TBG/13.jpg" alt="">
               </a>
           </div>
         </div>
         <div class="">
           <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
               <a class="lightbox" href="../../assets/TBG/14.jpg">
                   <img src="../../assets/TBG/14.jpg" alt="">
               </a>
           </div>
         </div>
        <div class="">
           <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
               <a class="lightbox" href="../../assets/TBG/15.jpg">
                   <img src="../../assets/TBG/15.jpg" alt="">
               </a>
           </div>
         </div>
         <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/16.jpg">
                     <img src="../../assets/TBG/16.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/17.jpg">
                     <img src="../../assets/TBG/17.jpg" alt="">
                 </a>
             </div>
           </div>
          <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/18.jpg">
                     <img src="../../assets/TBG/18.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/19.jpg">
                     <img src="../../assets/TBG/19.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/20.jpg">
                     <img src="../../assets/TBG/20.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/21.jpg">
                     <img src="../../assets/TBG/21.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/22.jpg">
                     <img src="../../assets/TBG/22.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/23.jpg">
                     <img src="../../assets/TBG/23.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/24.jpg">
                     <img src="../../assets/TBG/24.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/25.jpg">
                     <img src="../../assets/TBG/25.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/26.jpg">
                     <img src="../../assets/TBG/26.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/27.jpg">
                     <img src="../../assets/TBG/27.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/28.jpg">
                     <img src="../../assets/TBG/28.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/29.jpg">
                     <img src="../../assets/TBG/29.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
             <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                 <a class="lightbox" href="../../assets/TBG/30.jpg">
                     <img src="../../assets/TBG/30.jpg" alt="">
                 </a>
             </div>
           </div>
           <div class="">
            <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                <a class="lightbox" href="../../assets/TBG/31.jpg">
                    <img src="../../assets/TBG/31.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                <a class="lightbox" href="../../assets/TBG/32.jpg">
                    <img src="../../assets/TBG/32.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                <a class="lightbox" href="../../assets/TBG/33.jpg">
                    <img src="../../assets/TBG/33.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                <a class="lightbox" href="../../assets/TBG/34.jpg">
                    <img src="../../assets/TBG/34.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                <a class="lightbox" href="../../assets/TBG/35.jpg">
                    <img src="../../assets/TBG/35.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                <a class="lightbox" href="../../assets/TBG/36.jpg">
                    <img src="../../assets/TBG/36.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                <a class="lightbox" href="../../assets/TBG/37.jpg">
                    <img src="../../assets/TBG/37.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                <a class="lightbox" href="../../assets/TBG/38.jpg">
                    <img src="../../assets/TBG/38.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                <a class="lightbox" href="../../assets/TBG/39.jpg">
                    <img src="../../assets/TBG/39.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(80, 80, 80)">
                <a class="lightbox" href="../../assets/TBG/40.jpg">
                    <img src="../../assets/TBG/40.jpg" alt="">
                </a>
            </div>
          </div>
       </div>
 
     </div>
 
 </div>