
  <div class="container gallery-container">

    <h1>World War Toons</h1>

   <!-- <p class="page-description text-center">concept arts</p> -->
    
    <div class="tz-gallery">

        <div class="row fix">

<!--
            <div *ngFor="let art of getFilePath()" class="thumbnail">
                <a class="lightbox" [href] = "art">
                    <img [src] = "art" alt="">
                </a>
            </div>-->
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/37.jpg">
                    <img src="../../assets/WWT/37.jpg" alt="">
                </a>
            </div>
          </div>
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/WWT/01.jpg">
                        <img src="../../assets/WWT/01.jpg" alt="">
                    </a>
                </div>
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/WWT/02.jpg">
                        <img src="../../assets/WWT/02.jpg" alt="">
                    </a>
                </div>
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/WWT/02_2.jpg">
                        <img src="../../assets/WWT/02_2.jpg" alt="">
                    </a>
                </div>
            <div class="">
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/WWT/03.jpg">
                        <img src="../../assets/WWT/03.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="">
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/WWT/04.jpg">
                        <img src="../../assets/WWT/04.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="">
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/WWT/05.jpg">
                        <img src="../../assets/WWT/05.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="">
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/WWT/06.jpg">
                        <img src="../../assets/WWT/06.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="">
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/WWT/07.jpg">
                        <img src="../../assets/WWT/07.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="">
                <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                    <a class="lightbox" href="../../assets/WWT/07_2.jpg">
                        <img src="../../assets/WWT/07_2.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="">
              <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                  <a class="lightbox" href="../../assets/WWT/08.jpg">
                      <img src="../../assets/WWT/08.jpg" alt="">
                  </a>
              </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/09.jpg">
                    <img src="../../assets/WWT/09.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/10.jpg">
                    <img src="../../assets/WWT/10.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="">
          <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
              <a class="lightbox" href="../../assets/WWT/11.jpg">
                  <img src="../../assets/WWT/11.jpg" alt="">
              </a>
          </div>
        </div>
        <div class="">
          <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
              <a class="lightbox" href="../../assets/WWT/12.jpg">
                  <img src="../../assets/WWT/12.jpg" alt="">
              </a>
          </div>
        </div>
        <div class="">
          <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
              <a class="lightbox" href="../../assets/WWT/13.jpg">
                  <img src="../../assets/WWT/13.jpg" alt="">
              </a>
          </div>
        </div>
        <div class="">
          <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
              <a class="lightbox" href="../../assets/WWT/14.jpg">
                  <img src="../../assets/WWT/14.jpg" alt="">
              </a>
          </div>
        </div>
      <!--  <div class="">
          <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
              <a class="lightbox" href="../../assets/WWT/15.jpg">
                  <img src="../../assets/WWT/15.jpg" alt="">
              </a>
          </div>
        </div>-->
        <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/16.jpg">
                    <img src="../../assets/WWT/16.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/17.jpg">
                    <img src="../../assets/WWT/17.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/18.jpg">
                    <img src="../../assets/WWT/18.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/19.jpg">
                    <img src="../../assets/WWT/19.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/20.jpg">
                    <img src="../../assets/WWT/20.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/21.jpg">
                    <img src="../../assets/WWT/21.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/22.jpg">
                    <img src="../../assets/WWT/22.jpg" alt="" height="45%" width="45%">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/22_02.jpg">
                    <img src="../../assets/WWT/22_02.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/22_03.jpg">
                    <img src="../../assets/WWT/22_03.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/23.jpg">
                    <img src="../../assets/WWT/23.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/23_02.jpg">
                    <img src="../../assets/WWT/23_02.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/24.jpg">
                    <img src="../../assets/WWT/24.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/25.jpg">
                    <img src="../../assets/WWT/25.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/26.jpg">
                    <img src="../../assets/WWT/26.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/27.jpg">
                    <img src="../../assets/WWT/27.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/28.jpg">
                    <img src="../../assets/WWT/28.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/29.jpg">
                    <img src="../../assets/WWT/29.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/30.jpg">
                    <img src="../../assets/WWT/30.jpg" alt="">
                </a>
            </div>
          </div>
          <div class="">
            <div class="thumbnail" style="background-color:rgb(214, 214, 214)">
                <a class="lightbox" href="../../assets/WWT/31.jpg">
                    <img src="../../assets/WWT/31.jpg" alt="">
                </a>
            </div>
          </div>
      </div>

    </div>

</div>