<!--<div *ngFor="let image of _albums; let i=index">
    <img [src]="image.thumb" (click)="open(i)"/>
  </div>-->

  <div class="container gallery-container">
    
        <!--<p class="page-description text-center">Clean Layout With Minimal Styles</p>-->
        
        <div class="tz-gallery">
    
            <div class="row">
    
         
                    <div class="thumbnail">
                        <a class="lightbox" href="../../assets/resume.jpg">
                            <img src="../../assets/resume.jpg" alt="">
                        </a>
                    </div>
                
            </div>
    
        </div>
    
    </div>